@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
	height: 100%;
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	line-height: 1.5;
	background-color: #ecf0f1;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #1abc9c;
	text-shadow: 2px 2px 2px #7f8c8d;
}
i {
	display: inline-block;
	color: #7f8c8d;
	text-shadow: 1px 1px 2px #fff;
}
a {
	text-decoration: none;
	color: #000;
}
.full-height {
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

/*HERO*/
.hero {
	background-image: url(../img/my-photo.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #ccc;
}
.hero h1, h3 {
	color: #000;
	text-shadow: 2px 2px 2px #fff;
}

.hero h2 {
	display: none;
}

/*SKILLS*/
.skills {
	background-color: #ecf0f1;
}
.skills h1 {
	padding-top: 30px;
}
.icons {
 	padding-top: 100px; 
}
.skills i {
	font-size: 60px;
	padding: 10px;
	color: #7f8c8d;
	cursor: pointer;
}
.skills img {
	width: 320px;
	height: 102px;
	margin-top: 20px;
	
}

/*PROJECTS*/
.projects {
	background-color: #ecf0f1;
}
.projects p {
	text-transform: uppercase;
}
.flex-gallery {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.flex-row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
/*	 -webkit-justify-content: space-between;
	 -ms-justify-content: space-between;
	justify-content: space-between;*/
	/*align-items: center;*/
}
.flex-element {
	height: 200px;
	flex-basis: 200px;
	margin: 40px 10px;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 20px -6px rgba(5,5,5,1);
	-webkit-flex: 1; 
    -ms-flex: 1;
	flex: 1;
}
.img-1 {background-image: url("../img/psd.png"); background-position: top;}
.img-2 {background-image: url("../img/bootstrap.png"); background-position: top;}
.img-3 {background-image: url("../img/simple-website.png");}
.img-4 {background-image: url("../img/game.png");}
.img-5 {background-image: url("../img/kanban-board.png");}
.img-6 {background-image: url("../img/country-search.png");}

.flex-layer {
	display: none;
	background-color: #b2bec3;
	opacity: 0.8;
	height: 200px;
}
.flex-element:hover .flex-layer {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-layer i {
	margin-top: 25px;
	color: #000;
	text-shadow: 1px 1px 2px #fff;
}


/*CONTACT*/
.contact {
	background-color: #ecf0f1;
}
.contact p {
	display: inline;
}
.contact i {
	margin: 10px;
}

/*FORM*/
form {
	/*background: #7f8c8d;*/
	background: linear-gradient(to bottom right, #7f8c8d, #bdc3c7); 
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	align-items: center;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	padding: 10px;
	text-align: center;
	min-height: 300px;
	width: 250px;
	box-shadow: 10px 10px 28px -8px rgba(5,5,5,1);
	margin: 30px auto;
	font-family: 'Roboto', sans-serif;
	border-radius: 8px;

}
input, textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 20px;
	padding: 5px;
	margin: 10px;
	width: 220px;
	border: none;
	border-radius: 5px;
}
textarea {
	height: 260px;
}
input[type="submit"] {
	background-color: #1abc9c; 
	border: none;
	width: 60px;
	margin: 5px auto;
	text-align: center;
	cursor: pointer;
}


/*SCROLLER BUTTON*/
#section-scroller-button {
	position: fixed;
	right: 60px;
	bottom: 50px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #1abc9c;
	color: white;
	z-index: 10;
	cursor: pointer;
	box-shadow: 0 8px 42px -10px rgba(0, 0, 0, 0.85);
}
.caret {
	position: absolute;
	top: 0;
	width: 5px;
	height: 5px;
	display: inline;
	margin: 22px 23px;
	padding: 3px;
	border-bottom: solid 3px #fff;
	border-right: solid 3px #fff;
	transform: rotate(45deg);
	transition: all 0.6s;
}

#section-scroller-button.rotate .caret {
	top: 4px;
	transform: rotate(-135deg);
}
.animated.standby {
  animation: none !important;
  visibility: hidden;
}

/*MEDIA Q*/
@media (max-width: 767px) {
	#section-scroller-button {
		right: 20px;
		bottom: 20px;
	}
	.hero {
		background-image: url(../img/my-photo-min.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.hero h1 {
		padding-top: 20px; 
	}
	.hero h3 {
		font-size: 13px;
	}
	.skills .icons {
 		padding-top: 20px;
	}
	.skills i {
		font-size: 50px;
		padding: 15px;
	}
	.flex-element {
		height: 150px;
		margin: 20px 5px;
	}
	.flex-layer {
		height: 150px;
	}
	.flex-layer h3 {
		display: none;
	}
	.flex-layer p {
		font-size: 0.6em;
	}
	.img-1 {background-image: url("../img/psd-min.png");}
	.img-2 {background-image: url("../img/bootstrap-min.png");}
	.img-3 {background-image: url("../img/simple-website.png");}
	.img-4 {background-image: url("../img/game-min.png");}
	.img-5 {background-image: url("../img/kanban-board-min.png");}
	.img-6 {background-image: url("../img/country-search-min.png");}

	textarea {
		height: 200px;
	}
}